.container{
  width: 900px;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
}

.half-container{
  width: 300px;
  height: 400px;
  display: inline-block;
  float: left;
}

.container-half{
  width: 600px;
  height: 100%;
  display: inline-block;
  float: right;
}



h1{
  text-align: center;
}
