<h1>Users app</h1>
<hr/>
<div class="container">
  <div class="half-container">
    <app-new-user
      (newUser)="onNewUser($event)"
    ></app-new-user>
  </div>

  <div class="container-half">
    <app-user
      *ngFor="let user of userServive.users"
      [user]="user"
    ></app-user>
  </div>
</div>





