  <p class="user">
    <span class="name">{{ user.userName }}</span>
    <strong>({{ user.email }})</strong>
    <span>({{ user.status }})</span><br/>
    <span class="roleName">{{ user.role }}</span>
  </p>
